@main("home") {
<div id="container4"><div id="headline4"><a href="/newsaction_1" alt="Link to Review in Action Section."><div id="headlineIcon"><img src="@routes.Assets.versioned("images/JackReacher.jpg")" height="88" width="90" align="right"></div><h3> Jack Reacher: Never Go Back<br><br> PURCHASE MOVIE</h3></a></div></div>
<br>
<br>
<hr>		
<div id="container6"><div id="headline6"><a href="/newsaction_2" alt="Link to Review in Action Section."><div id="headlineIcon"><img src="@routes.Assets.versioned("images/Accountant.jpg")" height="88" width="90" align="right"></div><h3> Accountant<br><br> PURCHASE MOVIE</h3></a></div></div>
<br>
<hr>
<div id="container7"><div id="headline7"><a href="/newsaction_3" alt="Link to review in Action Section."><div id="headlineIcon"><img src="@routes.Assets.versioned("images/Strange.jpg")" height="88" width="90" align="right"></div><h3> Dr. Strange<br><br> PURCHASE MOVIE</h3></a></div></div>
<br>
<hr>	
</div>

</div>    
        
</div>		
</body>
</body>     
</html>
}
