@main("home") {
<div id="container1"><div id="headline1"><a href="/newscomedy_1" alt="Link to Review in Comedy Section."><div id="headlineIcon"><img src="Bridget.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Bridget Jones Baby<br><br> READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container2"><div id="headline2"><a href="/newscomedy_2" alt="Link to Review in Comedy Section."><div id="headlineIcon"><img src="Storks.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Storks<br><br> READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container9"><div id="headline9"><a href="/newscomedy_3" alt="Link to Review in Comedy Section."><div id="headlineIcon"><img src="BadSanta.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Bad Santa 2<br><br>READ FULL REVIEW</h3></a></div></div>	
<br>
<hr>
</div>

   </div>

     </div>
   </body>
 </body>
</html>
   }
