@main("home"){
	 <form name="article" action="articleAction.php" method="post">
	 
	 <fieldset>
	 	
	 <legend>YOUR DETAILS</legend>
	 
	 <p>
	 <label for="FullName">FIRST NAME:</label>
	 <input type="text" name="FulltName" id="FullName"/>
	 </p>
	 <P>
	 <label for="Surname">SURNAME:</label>
	 <input type="text" name="Surname" id="Surname"/>
	 <p>
	 <label for="email"> EMAIL:</label>
	 <input type="text" name="email" id="email"/>
	 
	 </p>
	 <br>
	 
	 
	 <legend>PURCHASE DETAILS</legend>
	 <label for="content">POSTAGE ADDRESS:</label>	
	 <textarea name="message" rows="10" cols="30" background="white"></textarea>
	 <p><input type="submit" name="SubmitForm" value="Purchase" class="submit" /></p>
	 
	 </fieldset>
	 
	 
					
	 </form>
	 
		
     </body>
     
     
     
     
     
 </html>
}
	
	 
	
