@main("home"){
   <div id="infohead"><h3>Helpful Information</h3></div>
   <div id="Info">
   
    <p>We hope that you are enjoying your time on our brand new up and coming web site. We here at <a href="/index" alt="Link to the Home page.">Movies & Chill</a> make a point of creating a web experience that is both intuitive and user friendly so your desired film review is never more than three clicks away.</p>
	<p>We would also love to here from you, the user. Your feedback is very important to our website. Please, don't be afraid to let us know what you think we could improve on and we will do our best to achieve it.</p>
   </div>
  <div id="contactshead"> <h3>Contact Details</h3></div>
	<div id="Contacts">
    <ul>
    <li> For Feedback & Help, email us at: <br><br>movies&chill_hf@@gmail.com</li><br><br></ul>
   </div>
  </div>
 
   </div>
 }   
  
