@main("home"){
<div id="container3"><div id="headline3"><a href="/newshorror_1" alt="Link to Review in Horror Section."><div id="headlineIcon"><img src="@routes.Assets.versioned("images/Arrival.jpg")" height="88" width="90" align="right"></div><h3> Arrival<br><br>PURCHASE MOVIE</h3></a></div></div>
<br>
<hr>		
<div id="container5"><div id="headline5"><a href="/newshorror_2" alt="Link to Review in Horror Section."><div id="headlineIcon"><img src="@routes.Assets.versioned("images/GOTT.jpg")" height="88" width="90" align="right"></div><h3> The Girl On The Train<br><br>PURCHASE MOVIE</h3></a></div></div>		
<br>
<hr>
<div id="container8"><div id="headline8"><a href="/newshorror_3" alt="Link to Review in Horror Section."><div id="headlineIcon"><img src="@routes.Assets.versioned("images/DontBreath.jpeg")" height="88" width="90" align="right"></div><h3> Don't Breath<br><br>PURCHASE MOVIE</h3></a></div></div>
<br>
<hr>	
</div>
    
</div>    
        
		
</div>
</body>
</body>
</html>
}
