@main("home"){


<div id="container3"><div id="/headline3"><a href="/newshorror_3"><div id="headlineIcon"><img src="Arrival.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Arrival<br><br>READ FULL REVIEW</h3></a></div></div>
<br>
<hr>		
<div id="container5"><div id="/headline5"><a href="/newshorror_1"><div id="headlineIcon"><img src="GOTT.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> The Girl On The Train<br><br>READ FULL REVIEW</h3></a></div></div>		
<br>
<hr>
<div id="container8"><div id="/headline8"><a href="/newshorror_2"><div id="headlineIcon"><img src="DontBreath.jpeg" alt="movie pic" height="88" width="90" align="right"></div><h3> Don't Breath<br><br>READ FULL REVIEW</h3></a></div></div>	
	
	</div>
    </div>    
        
		
        </div>
     </body>
     
     
     
     
     
 </html>
}
