@main("home"){
<div id="headlines">

<div id="container1"><div id="headline1"><a href="/newscomedy_1" alt="Link to Review in Comedy Section."><div id="headlineIcon"><img src="Bridget.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Bridget Jones' Baby<br><br> READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container2"><div id="headline2"><a href="/newscomedy_2" alt="Link to Review in Comedy Section."><div id="headlineIcon"><img src="Storks.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Storks<br><br> READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container3"><div id="headline3"><a href="/newshorror_1" alt="Link to Review in Horror Section."><div id="headlineIcon"><img src="Arrival.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Arrival<br><br>READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container4"><div id="headline4"><a href="/newsaction_1" alt="Link to Review in Action Section."><div id="headlineIcon"><img src="JackReacher.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Jack Reacher: Never Go Back<br><br> READ FULL REVIEW</h3></a></div></div>
<br>
<hr>		
<div id="container5"><div id="headline5"><a href="/newshorror_2" alt="Link to Review in Horror Section."><div id="headlineIcon"><img src="GOTT.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> The Girl On The Train<br><br>READ FULL REVIEW</h3></a></div></div>		
<br>
<hr>
<div id="container6"><div id="headline6"><a href="/newsaction_2" alt="Link to Review in Action Section."><div id="headlineIcon"><img src="Accountant.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Accountant<br><br> READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container7"><div id="headline7"><a href="/newsaction_3" alt="Link to review in Action Section."><div id="headlineIcon"><img src="Strange.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Dr. Strange<br><br> READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container8"><div id="headline8"><a href="/newshorror_3" alt="Link to Review in Horror Section."><div id="headlineIcon"><img src="DontBreath.jpeg" alt="movie pic" height="88" width="90" align="right"></div><h3> Don't Breath<br><br>READ FULL REVIEW</h3></a></div></div>
<br>
<hr>
<div id="container9"><div id="headline9"><a href="/newscomedy_3" alt="Link to Review in Comedy Section"><div id="headlineIcon"><img src="BadSanta.jpg" alt="movie pic" height="88" width="90" align="right"></div><h3> Bad Santa 2<br><br>READ FULL REVIEW</h3></a></div></div>	
	
	</div>
    </div>   
}

