@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
      <head>
	 
         <meta charset="UTF-8">
          <title>Movies & Chill</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link href='@routes.Assets.at("stylesheets/base.css")' rel="stylesheet" alt="Cascading Style Sheet.">
			
	 <div id="Logo">
	 <span class="glyphicons glyphicons-user"></span>
    <a href="/" alt="Logo Link" ><h1>Movies & Chill</h1></a>
	<div id="signup">
	<a href="/signup" alt="Logo Link" ><i class="fa fa-user-plus"  style="font-size:48px; right: 10em; color:white"></i></a>

</div>
</div>
</head>
    <body background="@routes.Assets.versioned("images/cinred.jpeg")">
        <div id="cinema red"></div>
	 <div id="Navigation">
            <div id="Home"><a href="/" alt="Link to the Homepage">HOME</a></div><br><br>
			
            <div id="Action"><a href="/action"  alt="Link to Actionpage">ACTION</a></div><br><br>
			
            <div id="Comedy"><a href="/comedy"  alt="Link to Comedypage">COMEDY</a></div><br><br>
			
            <div id="Horror"><a href="/horror"  alt="Link to the Horrorpage">HORROR</a></div>
			</div>
       
<div id="Container">

<div id="frontpage"><a href="/" alt="Link to the Homepage"><h2>HOME</h2></a>
	</div>	
	

    @content

</div>
  <footer>
	
	
    
    
	  <div id="Footer">
            <p>
                Copyright &copyMovies&Chill.com
            </p>
			<div id="FooterNav">
			<div id="FootNavHelp">
			<a href="/help" alt="Link to our help page.">Get In Touch With Us</a>
			
			
			
			</div>
			
			 <a href="https://www.facebook.com/" id="F" alt="Link to Find us on Facebook"><img src="@routes.Assets.versioned("images/Facebook.png")"
			 <a href="https://twitter.com/?lang=en" id="T" alt="Link to Find us on Twitter"><img src="@routes.Assets.versioned("images/Twitter.png")"
			  
			</div>
			
        </div>
		
	</footer>
	 
		
    
    </body>
</html>
