<table class="table-bordered table-hover table-condensed">
<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Stock</th>
        <th>Price</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Bridget Jones' Baby</td>
        <td>Comedy</td>
        <td>100</td>
        <td>10</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Bad Santa 2</td>
        <td>Comedy</td>
        <td>100</td>
        <td>10</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Storks</td>
        <td>Comedy</td>
        <td>100</td>
        <td>10</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Jack Reacher: Never Go Back</td>
        <td>Action</td>
        <td>100</td>
        <td>10</td>
    </tr>

    <tr>
        <td>5</td>
        <td>Accountant</td>
        <td>Action</td>
        <td>100</td>
        <td>10</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Dr. Strange</td>
        <td>Action</td>
        <td>100</td>
        <td>10.00</td>
    </tr>

    <tr>
        <td>7</td>
        <td>Arrival</td>
        <td>Horror</td>
        <td>100</td>
        <td>10.00</td>
    </tr>

    <tr>
        <td>8</td>
        <td>The Girl On The Train</td>
        <td>Horror</td>
        <td>100</td>
        <td>10.00</td>
    </tr>

    <tr>
        <td>9</td>
        <td>Don't Breath</td>
        <td>Horror</td>
        <td>100</td>
        <td>10.00</td>
    </tr>
</tbody>
</table>
    <p>
        <a href="@routes.HomeController.addMovie()">
            <button class=""btn btn-primary">Add a Movie</button>
        </a>
    </p>
