@main("home"){
	 <form name="article" action="articleAction.php" method="post">
	 
	 <fieldset>
	 	
	 <legend>YOUR NEW ACCOUNT</legend>
	 
	 <p>
	 <label for="FullName">FIRST NAME:</label>
	 <input type="text" name="FulltName" id="FullName"/>
	 </p>
	 <P>
	 <label for="Surname">SURNAME:</label>
	 <input type="text" name="Surname" id="Surname"/>
	 <p>
	 <label for="email"> EMAIL:</label>
	 <input type="text" name="email" id="email"/>
	 <p>
	 <label for="password"> CREATE PASSWORD:</label>
	 <input type="text" name="Password" id="Password"/>
	 <br>
	 
	 <p><input type="submit" name="SubmitForm" value="Create Account" class="CreateAccount" /></p>
	 
	 </p>
	 <br>
	 
	 
	 </fieldset>
	 
	 
					
	 </form>
	
        </div>
     </body>
     
     
     
     
     
 </html>
}
